
.question input{
  padding: 10px;
  width: 3%;
  font-size: 17px;
  font-family: Arial;
  border: 1px solid #e7e7e7;
}
.question:after {
    content:" *";
    color: red;
    display:inline;
  }
.question {
    font-size: x-large;
    color: red;
  }
  .question p{
    display:inline;
  }
.note .head{
display: block;
font-style: normal;
font-size: small;
font-weight: bold;
color:#c40000;
}
.note .noteitem{
display: block;
font-style: oblique;
font-size: small;
font-weight: lighter;
}


h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 5%;
  font-size: 17px;
  font-family: Arial;
  border: 1px solid #e7e7e7;
}

input[type=radio]:checked + label::After{
    content: '  \2713';
    /*width: 30%;*/
   /* background-color: #2eae06;*/
 /*   height: 15px;
  width: 15px;*/
  margin: 0 2px;
color: #2eae06;
  border: none;  
  /*border-radius: 50%;*/
  display: inline-block;

}
.consultation {
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  /* opacity: 0.5; */
  background-image: linear-gradient(#fff, #A3DFE4);
}
.answer {
  font-size: 20px;
  padding-top: 19px;
  padding-bottom: 35px;
}
.beratung{
display: block;
font-style: normal;
font-size: larger;
font-weight: bold;
color: #c40000;
}
.logo {
  height: 45px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
button {
  background-color: #04AA6D;
  border-radius: 18px;
  color: #ffffff;
  border: 2px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Arial;
  cursor: pointer;
}
label{
  line-height: 2.0;
}
button:hover {
  opacity: 0.8;
}
.line{
  border-bottom: 4px solid #e7e7e7;
  display: block;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e7e7e7;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

header {
  background-color: #ffffff;
  font-family: Arial;
  padding: 16px;
  min-width: 300px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 45% auto;
  grid-template-rows: 65px;
}
#regForm {
  background-color: #ffffff;
  
  font-family: Arial;
  padding: 10px;
  /*width: 70%;*/
  min-width: 300px;
}
.content {
  padding: 10px;
  font-weight: bolder;
  font-size: 21px;
  text-align: left;
  color: #2eae06;
}
footer{
  font-family: Arial;
  padding: 16px;
  /*width: 70%;*/
  min-width: 300px;
  background-color: #ffffff;
}
body {
  margin: 40px;
}
.wrapper {
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 100px;
  grid-gap: 1px;
  align-items: center;

  /*background-color: #d95959;*/
  /*background-color: #fff;*/
  color: #444;
  min-width: 300px;
}

.wrapper > div img {
    max-height: 50%;
    display: block;
}
.answer > p {
  margin: 0px;
}

