/* start Style the result page */
img {
  height: 215px;
}
.wrapper {
	font-family: Arial;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 100px;
  grid-gap: 1px;
  align-items: center;

  /*background-color: #d95959;*/
  /*background-color: #fff;*/
  color: #444;
  min-width: 300px;
}


.product-box {
	display: grid;
 	grid-template-columns: 300px auto;
	margin: 5px;
	padding: 18px;
	border: 1px solid #e7e7e7;
}

.right-bottom-box {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 30px 30px;
	align-content: center;
	align-items: center;
}

.right-box {
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: 20px auto 50px;
	grid-gap: 0;
	align-items: center;
	margin: 2px;
	padding: 5px;
}
.right-top-box{
	text-align: justify;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #2eae06;
  border-radius: 15px;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button:hover {
  background-color: #6AE86A;
}

.product-name {
	font-size: 21px;
	font-weight: bold;
	font-family: Arial;
	color: #337ab7;
}
.current-price-txt {
	font-size: medium;
	font-weight: bold;
  font-family: Arial;
	color: #337ab7;
}
.before-price-txt {
	font-size: medium;
	font-weight: bold;
  font-family: Arial;
	color: #337ab7;
}
.before-price {
	text-decoration-line: line-through;
}
.product-detail-link {
	text-align: right;
}
.product-detail-link a:hover {
	text-decoration: none;
}
/* header style */
header {
  background-color: #ffffff;
  font-family: Arial;
  padding: 16px;
  min-width: 300px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 45% auto;
  grid-template-rows: 65px;
}
.logo {
  height: 45px;
   display: block;
}
.content {
  padding: 10px;
  font-weight: bolder;
  font-size: 21px;
  text-align: left;
  color: #2eae06;
}
.current-price {
	color: #2eae06;
	font-weight: bold;
}
.before-price {
	color: black;
	font-weight: bold;
	text-decoration-line: line-through;
}
.before-price::after {
	content: ',- \20AC';
}
.current-price::after {
	content: ',- \20AC';
}
/* product detail */
.product-details-box {
	display: grid;
	grid-template-columns: auto;
	margin: 5px;
	padding: 18px;
	border: 1px solid #e7e7e7;
}
.pd-right-bottom-box {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 30px 30px;
	align-items: center;
	align-content: center;
	text-align: center;
}

.pd-right-box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 20px auto 50px auto;
	grid-gap: 30px;
	align-items: center;
	margin: 2px;
	padding: 5px;
}
.pd-right-top-box{
	text-align: justify;
	font-size: 15px;
}

.pd-button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #337ab7;
  border-radius: 15px;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.pd-button:hover {
  background-color: #70b7f4;
}
.pd-product-detail-link {
	text-align: center;
}
.pd-product-name {
	font-size: 21px;
	font-weight: bold;
	font-family: Arial;
	color: #337ab7;
}
.search {
	display: grid;
	grid-template-columns: auto auto;
}
.searchParams {
	color: #70b7f4;
	font-weight: bold;
	font-family: Arial;
}
/* model */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	margin-bottom: 200px;
	margin-top: -66px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* end Style the result page */
/* start pagination */
.pagination {   
  display: inline-block;   
}   
.pagination a {
  font-weight: bold;
  font-size: 18px;
  color: #337ab7;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 30px;
} 
.pagination a.active {
  background-color: #2eae06;
  color: #fff;
  pointer-events: none;
 
} 
.pagination a:hover:not(.active) {   
  background-color: skyblue;   
}   

